@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
body {
  font-family: "Kumbh Sans", sans-serif;
}

h1,
h2 {
  font-size: 13px;
  font-weight: 500;
  color: #000;
}
.btn {
  background-color: #7c5dfa;
  color: #ffff;
  border: none;
  padding: 7px 25px;
}
p {
  color: #777;
}
